.img-mini-modelo {
  width: 250px;
  height: 157px;
}
.material-icons {
  position: relative;
  font-size: 1.3em;
}

.img-preview {
  overflow: hidden;
  max-width: 50px !important;
  max-height: 50px !important;
}

