<!-- BOTONES -->
<div>
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentDatos"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      assignment
    </span> -->
    Orden
  </button>
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentVehiculo"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons m-0 p-0">
      directions_car
    </span> -->
    Vehiculo
  </button>
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentModelo"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      description
    </span> -->
    Modelo
  </button>
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentEntrega"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      date_range
    </span> -->
    Fecha entrega
  </button>
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentSeguro"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      folder_shared
    </span> -->
    Seguro
  </button>
  <hr class="hr" />
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentPedido"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      local_shipping
    </span> -->
    Pedido
  </button>
  <hr class="hr" />
  <button class="btn btn-sm btn-block text-left btn-secondary" placement="bottom" [ngbPopover]="popContentFotos"
    [autoClose]="'outside'" container="body" [disabled]="!referencia">
    <!-- <span class="material-icons">
      photo
    </span> -->
    Fotos
  </button>
  <button class="btn btn-sm btn-block text-left btn-secondary" [disabled]="!referencia">
    Generar order
  </button>
</div>

<!-- POP DATOS -->
<ng-template #popContentDatos>
  <div class="form-group mb-0">
    <label class="mb-0 mt-1">Referencia</label>
    <input type="text" class="form-control form-control-sm" />
  </div>
  <div class="form-group mb-0">
    <label class="mb-0 mt-1">Orden</label>
    <input type="text" class="form-control form-control-sm" />
  </div>
  <div class="form-group mb-0">
    <label class="mb-0 mt-1">Siniestro</label>
    <input type="text" class="form-control form-control-sm" />
  </div>
  <div class="my-2">
    <button class="btn btn-sm btn-block btn-success">Aceptar</button>
  </div>
</ng-template>

<!-- POP VEHICULO -->
<ng-template #popContentVehiculo>
  <form [formGroup]="vehiculoForm" (ngSubmit)="onSubmitVehiculo()">
    <div class="form-group mb-0">
      <label class="mb-0 mt-1">Patente</label>
      <input type="text" class="form-control form-control-sm" formControlName="patente" />
    </div>
    <div class="form-group mb-0">
      <label class="mb-0 mt-1">VIN</label>
      <input type="text" class="form-control form-control-sm" formControlName="vin" />
    </div>
    <div class="form-group mb-0">
      <label class="mb-0 mt-1">Color</label>
      <input type="text" class="form-control form-control-sm" formControlName="color" />
    </div>
    <div class="my-2">
      <button class="btn btn-sm btn-block btn-success">Aceptar</button>
    </div>
  </form>
</ng-template>

<!-- POP MODELO -->
<ng-template #popContentModelo>
  <div class="form-group mb-0">
    <label>Marca</label>
    <select [(ngModel)]="selectedMarca" class="form-control form-control-sm" [disabled]="loadingMarcas"
      (ngModelChange)="selectMarca()">
      <option *ngFor="let m of marcas" [value]="m.Id"> {{ m.Marca }} </option>
    </select>
  </div>
  <div class="form-group mb-0">
    <label>Modelo</label>
    <select [(ngModel)]="selectedModelo" class="form-control form-control-sm" [disabled]="loadingModelos"
      (ngModelChange)="selectModelo()">
      <option [selected]='selectedModelo === null'></option>
      <option *ngFor="let m of modelos" [value]="m.Id"> {{ m.Modelo }} </option>
    </select>
  </div>
  <hr />
  <img [src]="imageToShow" class="img img-fluid img-mini-modelo">
  <div class="row my-2">
    <div class="col-6">
      <button (click)="updateModelo()" class="btn btn-sm btn-block btn-success" [disabled]="!canUpdate">Aceptar</button>
    </div>
  </div>
  <a (click)="openModal()">Admin. avanzada</a>
</ng-template>

<!-- MENU FECHA ENTREGA -->
<ng-template #popContentEntrega>
  <div class="mt-2 px-2">
    <div class="form-group">
      <div class="input-group">
        <input [(ngModel)]="selectedDate" class="form-control form-control-sm" placeholder="yyyy-mm-dd" />
        <!-- <input [(ngModel)]="selectedTime" type="time" min="09:00:00" max="18:00:00" step="30:00" class="form-control form-control-sm" /> -->
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <ngb-datepicker #d1 [(ngModel)]="date" #c1="ngModel" (select)="onDateSelect()"></ngb-datepicker>
  </div>
  <!-- <pre>Model: {{ date | json }}</pre> -->
  <button class="btn btn-sm btn-block btn-success" (click)="onDateConfirm()">Confirmar</button>
</ng-template>

<!-- MENU SEGURO -->
<ng-template #popContentSeguro>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Seleccione</label>
    <select [(ngModel)]="seguroSelected" [disabled]="loadingSeguro" class="form-control form-control-sm"
      (change)="actualizarSeguro()">
      <option selected></option>
      <option *ngFor="let s of seguros" [value]="s.Id"> {{ s.Seguro }} </option>
    </select>
  </div>
  <hr />
  <p>
    Si el seguro que buscas no se encuentra, puedes agregar uno nuevo.
  </p>
  <form [formGroup]="nuevoSeguroForm" (ngSubmit)="onSubmitNuevoSeguro()">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" formControlName="nuevoSeguro" placeholder="Seguro..." />
    </div>
    <button class="btn btn-sm btn-block btn-success"
      [disabled]="!nuevoSeguroForm.valid || loadingSeguro">Agregar</button>
  </form>
</ng-template>

<!-- MENU FOTOS -->
<ng-template #popContentFotos>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Seleccione</label>
    <input type="file" class="form-control-file" multiple>
  </div>
  <hr />
  <div>
    <img src="https://via.placeholder.com/40" alt="img img-thumbnail">
    <a class="boton-cerrar-thu rounded-circle text-decoration-none" href="">x</a>
  </div>
  <p>
    Si el seguro que buscas no se encuentra, puedes agregar uno nuevo.
  </p>
  <button class="btn btn-sm btn-block btn-success">Agregar</button>
</ng-template>

<!-- MENU PIEZAS -->
<ng-template #popContentPedido>
  <p class="ml-1">Pedir pieza.</p>
  <button class="btn btn-sm btn-block btn-success">
    Realizar pedido de piezas
  </button>
</ng-template>
<!-- MENU -->
