<!-- Piezas -->
<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted mb-1">PIEZAS</h4>
    <table class="table table-hover table-sm">
      <thead class="font-weight-light">
        <th>Pieza</th>
        <th>Accion</th>
        <th>Pedido</th>
        <th>Cod/Prov</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <!-- <tr>
          <td>Paragolpes delantero</td>
          <td>Pintar</td>
          <td></td>
          <td>Los Primos</td>
          <td><span class="badge badge-success">En Camino</span></td>
        </tr> -->
      </tbody>
    </table>
    <!--  -->
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Pieza" [disabled]="!isInited" />
      <div class="input-group-append">
        <div class="input-group">
          <select class="form-control form-control-sm" [disabled]="!isInited">
            <option selected>Pintar</option>
            <option>Reparar</option>
            <option>Cambiar</option>
          </select>
        </div>
      </div>
      <div class="input-group-append">
        <div class="input-group">
          <select class="form-control form-control-sm" [disabled]="!isInited">
            <option selected></option>
            <option>Int</option>
            <option>Ext</option>
          </select>
        </div>
      </div>
      <input type="text" class="form-control form-control-sm" placeholder="Proveedor" *ngIf="false" [disabled]="!isInited">
      <input type="text" class="form-control form-control-sm" placeholder="Codigo" *ngIf="true" [disabled]="!isInited">
    </div>
    <button class="float-right btn btn-sm btn-success mt-1" [disabled]="!isInited">
      Agregar
    </button>
  </div>
</div>
