.piezas-cargada {
  display: block;
  max-height: 100px;
  overflow-y: scroll;
  width: 100%;
}

tbody {
  display: block;
  max-height: 185px;
  overflow: auto;
}
thead,
tbody tr {
  font-size: 0.9em;
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
thead {
  width: calc(
    100% - 1em
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width: 100% !important;
}
table td:last-child,
table th:last-child {
  width: 60px;
}
table td:last-child,
table th:last-child {
  width: 60px;
}

table td:nth-child(2),
table th:nth-child(2) {
  width: 65px;
}

table td:nth-child(3),
table th:nth-child(3) {
  width: 52px;
}
table td:nth-child(4),
table th:nth-child(4) {
  width: 80px;
}
table td:nth-child(4),
table th:nth-child(4) {
  width: 110px;
}
table td:nth-child(5),
table th:nth-child(5) {
  width: 120px;
}
