<div class="modelos-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">DATOS DE CARROCERIA, MARCA Y MODELOS</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> -->
    <button type="button" class="close" (click)="closeModelsModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <h4>MARCA</h4>
        <form [formGroup]="marcaForm" (ngSubmit)="onSubmitMarca()">
          <div class="input-group">
            <input formControlName="marca" type="text" class="form-control form-control-sm" placeholder="Marca">
            <div class="input-group-append">
              <button class="btn btn-success btn-sm" [disabled]="!marcaForm.valid  || loadingMarca">+</button>
            </div>
          </div>
        </form>
        <table class="table table-hover table-sm">
          <tbody>
            <tr *ngFor="let m of marcas" (click)="selectMarca(m.Id)"
              [ngClass]=" {'current-marca border' : currentMarca === m.Id}">
              <td> {{ m.Marca }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <h4>MODELO</h4>
        <form [formGroup]="modeloForm" (ngSubmit)="onSubmitModelo()">
          <div class="input-group">
            <input formControlName="modelo" type="text" class="form-control form-control-sm" placeholder="Modelo">
            <div class="input-group-append">
              <button class="btn btn-success btn-sm" [disabled]="!modeloForm.valid  || loadingModelo">+</button>
            </div>
          </div>
        </form>
        <table class="table table-hover table-sm">
          <tbody>
            <tr *ngFor="let m of modelos" (click)="selectModelo(m.Id)"
              [ngClass]=" {'current-modelo border' : currentModelo === m.Id}">
              <td> {{ m.Modelo }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class=" col-4">
        <h4>CARROCERIA</h4>
        <div class="input-group">
          <!-- <select class="form-control form-control-sm" [disabled]="loadingCarrocerias"> -->
          <select class="form-control form-control-sm">
            <option [selected]='currentCarroceria===null'></option>
            <option *ngFor="let c of carrocerias" [value]='c.Id' [selected]='currentCarroceria===c.Id'> {{c.Tipo}}
            </option>
          </select>
        </div>
        <img src="https://via.placeholder.com/235x160" class="img img-fluid mt-3">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="confirmar()" class="float-right btn btn-sm btn-success mt-5">
          Confirmar
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModelsModal()">Salir</button>
  </div>

</div>
